.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navEdit {
  margin-bottom: 100px;
}

.editCard {
  max-height: 400px;
}

.editCardBody{
  max-height: 200px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #505050;
  border: none;
  border-radius: 50%; /* Circular button */
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.back-to-top-btn:hover {
  background-color: #404040;
  opacity: 1;
}

.back-to-top-btn.show {
  opacity: 0.8;
}

.back-to-top-btn.show-transition {
  transition: opacity 2s ease-in-out;
}

.back-to-top-btn::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid white; /* Creates the upward arrow */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer Styles */
.footer-container {
  position: fixed; /* Stick to the bottom */
  bottom: 0; /* Position at the bottom */
  left: 0; /* Stretch across the left */
  right: 0; /* Stretch across the right */
  background-color: #333; /* Dark background */
  color: #f8f9fa; /* Whitish text */
  padding: 5px; /* Minimal padding */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; /* Fixed height */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Reset margins for the paragraph inside the footer */
.footer-container p {
  margin: 0; /* Removes default margin */
  padding: 0; /* Ensures no padding is affecting the layout */
}

/* Styles for the links inside the footer */
.footer-container a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer-container a:hover {
  color: #ddd;
  text-decoration: underline;
}

/* Adjusting Main Content */
.main-content {
  padding-bottom: 40px; /* Adjust as needed */
}